html,body {
/* black background, arial font 14px, font weight 300, zero margins */
	background:black;
	background-attachment:fixed;
	font-family:arial;
}
#container {
/* black background, full width of screen, background image bg.gif */
background:black;

}
#main {
/* full width, white font, black background  */

}
#navbar {
}
#subnavbar {
}
#leftmain {
/* text align to center, black background, float left, border 1px solid style  */
/* YOU determine margins, padding, width, height to match ANSWERKEY.jpg */
	
}
#rightmain {
/* black background, float left, border 1px solid style  */
/* YOU determine margins, padding, width, height to match ANSWERKEY.jpg */

}
a:link {
/* Gray */

}
a:visited {
/* Gray */

}
a:hover {
/* White, no text decoration */

}